
.anchors{
	top: vw(px, 364);
	left: vw(px, 1218);
	position: fixed;
	z-index: 100;
}

.tooltip{
	font-size: vw(px,14);
	width: vw(px, 100);
	display: inline-block;
	bottom: vw(px,8);
	text-align: right;
	transition: .5s;
	opacity: 0;
	// position: relative;
	right: vw(px, 90);
	transform: translateX(vw(px,0));
}


.boxes{
	position: relative;
	width: vw(px,12);
	height: vw(px,12);
	background-color: $gray;
	margin-bottom: vw(px,8);
	border-radius: vw(px, 3);
	cursor: pointer;
	color: $gray;
}

.box1,.box2,.box3,.box4{
	&:before{
		content: '';
		opacity: 0;
		transition: .5s;
		font-size: vw(px,14);
		transform: translateX(vw(px,30));
	}

}

.currentBlue{
	background-color: $blue;
}
.currentPink{
	background-color: $pink;
}

.currentYellow{
	background-color: $yellow;
}

.currentGray{
	background-color: $darkGray;
}


.box1:hover{
	background-color: $darkGray;
	box-shadow: vw(px, 2) vw(px, 2) vw(px, 2) $gray;
	&:before{
		content: 'Intros';
		position: absolute;
		top: vw(px, -3);
		right:vw(px,-40);
		height: vw(px,50);
		width: vw(px,100);
		transform: translateX(vw(px,0));
		opacity: 1;
	}
}

.box2:hover{
	background-color: $blue;
	box-shadow: vw(px, 2) vw(px, 2) vw(px, 2) $gray;
	&:before{
		content: 'Capture';
		position: absolute;
		top: vw(px, -3);
		right:vw(px,-25);
		height: vw(px,50);
		width: vw(px,100);
		transform: translateX(vw(px,0));
		opacity: 1;
	}
}

.box3:hover{
	background-color: $pink;
	box-shadow: vw(px, 2) vw(px, 2) vw(px, 2) $gray;
	&:before{
		content: 'Collaborate';
		position: absolute;
		top: vw(px, -3);
		right:vw(px,-5);
		height: vw(px,50);
		width: vw(px,100);
		transform: translateX(vw(px,0));
		opacity: 1;
	}
}

.box4:hover{
	background-color: $yellow;
	box-shadow: vw(px, 2) vw(px, 2) vw(px, 2) $gray;
	&:before{
		content: 'Connect';
		position: absolute;
		top: vw(px, -3);
		right:vw(px,-23);
		height: vw(px,50);
		width: vw(px,100);
		transform: translateX(vw(px,0));
		opacity: 1;
	}
}

