@font-face {
    font-family: 'GalaxiePolarisLight';
    src: url('../fonts/galaxy-polaris/GalaxiePolarisLight.eot');
    src: url('../fonts/galaxy-polaris/GalaxiePolarisLight.eot') format('embedded-opentype'),
         url('../fonts/galaxy-polaris/GalaxiePolarisLight.woff2') format('woff2'),
         url('../fonts/galaxy-polaris/GalaxiePolarisLight.woff') format('woff'),
         url('../fonts/galaxy-polaris/GalaxiePolarisLight.ttf') format('truetype'),
         url('../fonts/galaxy-polaris/GalaxiePolarisLight.svg#GalaxiePolarisLight') format('svg');
}
@font-face {
    font-family: 'GalaxiePolarisBook';
    src: url('../fonts/galaxy-polaris/GalaxiePolarisBook.eot');
    src: url('../fonts/galaxy-polaris/GalaxiePolarisBook.eot') format('embedded-opentype'),
         url('../fonts/galaxy-polaris/GalaxiePolarisBook.woff2') format('woff2'),
         url('../fonts/galaxy-polaris/GalaxiePolarisBook.woff') format('woff'),
         url('../fonts/galaxy-polaris/GalaxiePolarisBook.ttf') format('truetype'),
         url('../fonts/galaxy-polaris/GalaxiePolarisBook.svg#GalaxiePolarisBook') format('svg');
}
@font-face {
    font-family: 'SFUITextLight';
    src: url('../fonts/sf-ui/SFUITextLight.eot');
    src: url('../fonts/sf-ui/SFUITextLight.eot') format('embedded-opentype'),
         url('../fonts/sf-ui/SFUITextLight.woff2') format('woff2'),
         url('../fonts/sf-ui/SFUITextLight.woff') format('woff'),
         url('../fonts/sf-ui/SFUITextLight.ttf') format('truetype'),
         url('../fonts/sf-ui/SFUITextLight.svg#SFUITextLight') format('svg');
}

@font-face {
    font-family: 'SFUITextRegular';
    src: url('../fonts/sf-ui/SFUITextRegular.eot');
    src: url('../fonts/sf-ui/SFUITextRegular.eot') format('embedded-opentype'),
         url('../fonts/sf-ui/SFUITextRegular.woff2') format('woff2'),
         url('../fonts/sf-ui/SFUITextRegular.woff') format('woff'),
         url('../fonts/sf-ui/SFUITextRegular.ttf') format('truetype'),
         url('../fonts/sf-ui/SFUITextRegular.svg#SFUITextRegular') format('svg');
}
@font-face {
    font-family: 'SFUITextMedium';
    src: url('../fonts/sf-ui/SFUITextMedium.eot');
    src: url('../fonts/sf-ui/SFUITextMedium.eot') format('embedded-opentype'),
         url('../fonts/sf-ui/SFUITextMedium.woff2') format('woff2'),
         url('../fonts/sf-ui/SFUITextMedium.woff') format('woff'),
         url('../fonts/sf-ui/SFUITextMedium.ttf') format('truetype'),
         url('../fonts/sf-ui/SFUITextMedium.svg#SFUITextMedium') format('svg');
}
@font-face {
    font-family: 'SFUITextSemibold';
    src: url('../fonts/sf-ui/SFUITextSemibold.eot');
    src: url('../fonts/sf-ui/SFUITextSemibold.eot') format('embedded-opentype'),
         url('../fonts/sf-ui/SFUITextSemibold.woff2') format('woff2'),
         url('../fonts/sf-ui/SFUITextSemibold.woff') format('woff'),
         url('../fonts/sf-ui/SFUITextSemibold.ttf') format('truetype'),
         url('../fonts/sf-ui/SFUITextSemibold.svg#SFUITextSemibold') format('svg');
}

