
  /*logos*/
  .trello {
    background-image: url('../images/trello.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: vw(px, 85);
    height: vw(px, 24);
  }
  .hipchat {
    background-image: url('../images/hipchat.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: vw(px, 101);
    height: vw(px, 24);
  }
  .bitbucket {
    background-image: url('../images/bitbucket.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: vw(px, 138);
    height: vw(px, 24);
  }
  .jira-core {
    background-image: url('../images/jira-core.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: vw(px, 107);
    height: vw(px, 24);
  }
  .jira-service {
    background-image: url('../images/jira-service.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: vw(px, 185);
    height: vw(px, 24);
  }
  .confluence {
    background-image: url('../images/confluence.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: vw(px, 158);
    height: vw(px, 24);
  }